
/* nav bar */

.back {
	position: fixed;
	top: 0;
	left: 0;
}
.forward {
	position: fixed;
	top: 0;
	left: 30px;
}
.home {
	position: fixed;
	top: 0;
	left: 56px;
}
.bar {
	position: fixed;
	top: 0;
	left: 84px;
	max-width: 100%;
}

.navbar {
	border-bottom: 1px solid black;	

}

.navbar-button {
	padding: 0;
	margin: 0;
	display: inline-block;
	-webkit-filter: drop-shadow(10px 2px 5px rgba(0,0,0,5.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

}

/*one*/


body.one header {
		color: rgb(250, 250, 248);
		text-shadow: 300px 300px 300px rgba(215, 77, 180, 0.75);
		text-align: center;
		margin-right: 200px;
		margin-bottom: 200px;
		font-family: 'Quicksand', sans-serif;
		margin-top: 200px;

}

body.one h1 {
	letter-spacing: 2px;
	
}

body.one h2 {
	margin-left: 300px;
}

body.one .button {

		width: 240px;
		height: 240px;
		position: absolute;
		bottom: 0;
		left: 500px;
		opacity: 100%;
		box-shadow: 500px 500px 500px rgba(215, 77, 180, 0.25);
		margin-right: 30px

}


/*two*/


body.two header {
		font-family: helvetica;
		font-size: 200px;


}

body.two h1 {

	background: orange;

	
	
}

body.two h2 {
	background-color: red;

	
}
body.two .button {

		width: 240px;
		height: 240px;
		position: fixed;
		top: 0;
		right: 0;
		opacity: 30%;


}


}

/*three*/


}

body.three header {
	background: black;

	

}

body.three h1 {
	margin-top: 32px;
	font-size: 20px;
	background: url(http://www.positivedisciplining.com/g1emb14.gif);
	color: white;
	text-align: center;
	font-family: impact;
	letter-spacing: 100px;
	
}

body.three h2 {	
	font-size: 20px;
	background: url(http://www.positivedisciplining.com/g1emb14.gif);
	color: white;
	text-align: center;
	margin-top: 900px;
	font-family: impact;
	letter-spacing: 150px;
}

body.three .button {
		width: 240px;
		height: 240px;
		position: fixed;
		top: 500px;
		right: 0;
		

		


}


/*four*/


body.four header {
	

}

body.four h1 {
	font-family: helvetica;
	background: magenta;
	color: green;
	padding: 200px;
	border-left: 20px solid red;
}

body.four h2 {
		font-family: helvetica;
	background: magenta;
	color: green;
	padding: 100px;
	border-right: 20px solid red;
	
}

body.four .button {
	position: absolute; 
	top: 100px;
	right: 300px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
		


}


/*five*/


body.five {
	background-color: navy;
	width: 600px;
}

body.five header {
	display: inline-block;
	background: rgb(144, 206, 248);
	box-shadow: 200px 200px 200px rgba(215, 77, 180, 0.75);
	width: 2000px;
	font-family: Lucida Console, Monaco, monospace;
	font-size: 10px;
	color: rgba(215, 77, 180, 0.75);

}

body.five h1 {
		
	width: 2000px;

	
	
}

body.five h2 {
	text-align: right;
}

body.five .button {
	width: 50px;
		height: 50px;
		position: fixed;
		bottom: 0;
		left: 500px;
		box-shadow: 100px 200px 200px rgba(215, 77, 180, 0.25);
		
		


}


/*six*/


body.six header {


	

}

body.six h1 {	
	margin-top: 10px;
	position: fixed;
	top: 105px;
	right: 1px;
	font-family: 'Helvetica';
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
	color: blue;
	text-decoration: none;
	z-index: 98;
	transform: rotate(-90deg);
	transform-orgin: left top 0;
	padding-right: 60px;
	
	
}

body.six h2 {
	margin-top: 10px;
	position: fixed;
	top: 225px;
	right: 30px;
	font-family: 'Helvetica';
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
	color: blue;
	text-align: center;
}

body.six .button {
 	margin-top: 500px;
 	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

		


}

/*seven*/

body.seven {
		background-color: #FB8280;

}

body.seven header {
		background-color: #FB8280;
		background-repeat: 
	

}

body.seven h1 {
		font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: #666;
	
	
	

}
body.seven h2 {
		font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: #666;
	margin-left: 1250px;
	
	
}

body.seven .button {
	margin-top: 300px;
	margin-left: 700px;
 	width: 1000px;
 	height:	1000px;

		

		


}

/*eight*/


body.eight {
	height: 5000px;
 	background: 

}
body.eight header {
	font-family:'Alegreya Sans SC', sans-serif;

	

}

body.eight h1 {
	font-size: 10px
	
}

body.eight h2 {

	font: normal 200px/ 100px 'Nixie One', Helvetica, Arial;
	line-height: 200px;
	text-align: center;
	color: #EEDDE0;
	text-shadow: 0 0 30px #EC637B, 
		0 0 10px rgba(230, 161, 173, 0.41), 
		0 0 100px #E6A1AD, 
		0 0 500px #F36780, 
		5px 9px 5px rgba(0, 0, 0, 0.5);
	
}

body.eight .button {
	
	
 	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
filter: url(shadow.svg#drop-shadow); 

}

body.eight.button:hover {
width: 500%
}
/*nine*/

body.nine {
	background-image: url("images/10.jpg");

	
 	
}
body.nine header {
	background-color: yellow;
	padding-left: 500px;
	padding-right: 500px;
}

body.nine h1 {
	text-align: center;
	background-image: url("images/10.jpg");
		margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 50px;
	color: #ff6e00;
	padding: 30px 350px 30px 350px;

}

body.nine h2 {	
	
	color: yellow;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 100px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 50px;
	color: #ff6e00;
	padding: 30px 350px 30px 350px;


	
}

body.nine .button {
	margin-left: 5px;
	margin-top: 200px;

		


}

/*ten*/

body.ten {
	background-color: white;
	font: normal 13px/1.5em Verdana, Helvetica, Arial, sans-serif;
	background-image: url("images/11.png");
}

body.ten header {
	
	font: normal bold 13px/1.5em "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color:  #029CB8;
	text-decoration: none;
	text-align: center;
	font-size: 50px; 
	line-height: 200px;
	letter-spacing: 210px;
}

body.ten h1 {

	
}

body.ten h2 {
	
}

body.ten .button {
		margin-top: 500px;
		 	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

		

}


/*eleven*/

body.eleven {
	font-family: Lucida Console, Monaco, monospace;
	font-size: 12px;
	color: #333;;
	background-color: rgb(226, 0, 26)

}

body.eleven header {

}

body.eleven h1 {
	margin-top: 70px;
	background-color: red;
	color: white;
	text-transform: uppercase;
	font-size: 30pt;
	letter-spacing: 20pt;
}

}

body.eleven h2 {
	margin-top: 200px;
	background-color: black;
	color: white;
	display:inline;
	text-transform: uppercase;
	font-size: 30pt;
	letter-spacing: 20pt;
}

body.eleven .button {
	margin-left: 700px;
	margin-top: 500px;
 	-webkit-filter: drop-shadow(30px 30px 30px rgba(0,0,0,5.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";


}


/*twelve*/

body.twelve {
		background: grey;
	background:url(http://freewallpaperdownloads.net/wp-content/uploads/2014/09/android-background-gif.gif);
	background-size:100%;
	color: #292f33;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius: 4px;
	background-color: white;
	width: 400px;
	margin: auto;
	padding: 20px;
	margin-top: 30px;

}

body.twelve header {
	

}

body.twelve h1 {
	color: white;


	
}
blockquote{
	color: white;
	text-align: center;
	font-size: 10px;
}

body.twelve p{
	color: white;
	background-color: white;
}

body.twelve h2 {
	color: white;
	
}

body.twelve.button {
	
		

}


/*thirteen*/

body.thirteen {
	background-repeat: url("images/18.jpg");
	background-color: black;
	padding-top: 50px;
	padding-bottom: 500px;

}

body.thirteen header {
	text-align: right;
	color: rgb(48, 49, 43);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-bottom: 100px;
	

}

body.thirteen h1 {
	letter-spacing: 300px;

	
}

body.thirteen h2 {
	margin-bottom: 100px;
}

body.thirteen.button {
	
		

}


/*fourteen*/

body.fourteen {
	background-color: #7A827D;
}

body.fourteen header {
	margin-top: 30px;
	z-index: 1;
	width: 135px;
	height: 232px;
	background-color: white;
	layer-background-color: #003366;
	visibility: visible;
	font-family: Arial;
	font-size: 12px;
	color: #000;
	

}

body.fourteen h1 {

	
}

body.fourteen h2 {
	
}

body.fourteen .button {
		height: 200px;
		position: fixed;
		top: 350px;
		right: 0;

 	

		

}


/*fifteen*/

body.fifteen {

}

body.fifteen header {
		font: 52px 'Big Caslon','Times New Roman',Times,serif;
		letter-spacing: 1px;
		-webkit-transition: width 0.4s, height 0.4s;
		-moz-transition: width 0.4s, height 0.4s;
		-o-transition: width 0.4s, height 0.4s;
		-ms-transition: width 0.4s, height 0.4s;
		transition: width 0.4s, height 0.4s;
		margin-right: 10px;
	

}

body.fifteen h1 {

	
}

body.fifteen h2 {
	
}

body.fifteen.button {
	
		

}


/*sixteen*/

body.sixteen {
	font-family: Impact;


}

body.sixteen header {
	
}

body.sixteen h1 {
	text-align: center;

	
}

body.sixteen h2 {
	font-size: 5px;
	text-align: center;
	
}

body.sixteen .button {
    -webkit-animation: spin .1s infinite linear;
    animation: spin .1s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

	}

		

/*seventeen*/

body.seventeen {
	
}

body.seventeen header {
		background-image: url("images/23.gif");
		height: 5000px;
	
	
}

body.seventeen h1 {
color: white;
		font-size: 500px;
	
}

body.seventeen h2 {
	color: white;
		font-size: 500px;
}

body.seventeen .button {
	margin-top: 1800px;
	margin-left: 500px;

	
		

}


/*eighteen*/

body.eighteen {
		position: fixed;
	top: 0;
	left: 0;
	background-color: #aaa2a2;
	width: 234px;
	height: 100%;
	color: #0645ad;
	font: 62.5%/1.4em 'Brutal Type', sans-serif;
	padding-top: 30px;

}

body.eighteen header {
	

}

body.eighteen h1 {
		display: block;
	font-size: 150%;
line-height: 1.4em;
padding-right: 250px;
padding-left: 300px;
color: #aaa2a2;

	
}

body.eighteen h2 {
	
}

body.eighteen .button {
	margin-left: 90px;
	-webkit-filter: drop-shadow(30px 30px 30px rgba(0,0,0,5.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	
		

}


/*nineteen*/

body.nineteen {
background-color: rgb(245,255,255);
}
	

}

body.nineteen header {
	

}

body.nineteen h1 {
	background-color: rgb(245,255,255);
	color: green;
	font-style: italic;
	position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}
}

body.nineteen h2 {
	text-align: center;

}

body.nineteen .button {
	margin-left: 800px;
	
		

}


/*twenty*/

body.twenty {

}

body.twenty header {
	

}

body.twenty h1 {
	display: block;
	background-color: grey;
	border-top: 20px solid red;
	text-align: left;
	width: 900px;
	height: 100px;
	margin-left: 0px;


	
}

body.twenty h2 {
	display: block;
		background-color: grey;
		border-top: 20px solid red;
		width: 110px;
		height: 1000px;
		text-align: center;
		padding-top: 600px;
		font-family: helvetica;
		margin-left: 1100px;
	
}

body.twenty .button {
	top: 150px;
	position: fixed;
	margin-top: 5px;

		
}











